name: cop-webapp
channels:
  - conda-forge
dependencies:
  - appnope=0.1.2=py39h2804cbe_1
  - backcall=0.2.0=pyh9f0ad1d_0
  - backports=1.0=py_2
  - backports.functools_lru_cache=1.6.3=pyhd8ed1ab_0
  - brotli-python=1.0.9=py39h93dc1e2_4
  - ca-certificates=2020.12.5=h4653dfc_0
  - certifi=2020.12.5=py39h2804cbe_1
  - click=7.1.2=pyh9f0ad1d_0
  - dash=1.19.0=pyhd8ed1ab_0
  - dash-bootstrap-components=0.12.0=pyhd8ed1ab_0
  - dash-core-components=1.15.0=pyhd8ed1ab_0
  - dash-html-components=1.1.2=pyh44b312d_0
  - dash-renderer=1.9.0=pyhd8ed1ab_0
  - dash-table=4.11.2=pyhd8ed1ab_0
  - decorator=4.4.2=py_0
  - flask=1.1.2=pyh9f0ad1d_0
  - flask-compress=1.9.0=pyhd8ed1ab_0
  - future=0.18.2=py39h2804cbe_3
  - gunicorn=20.1.0=py39h2804cbe_0
  - ipython=7.22.0=py39h32adebf_0
  - ipython_genutils=0.2.0=py_1
  - itsdangerous=1.1.0=py_0
  - jedi=0.18.0=py39h2804cbe_2
  - jinja2=2.11.3=pyh44b312d_0
  - libblas=3.9.0=8_openblas
  - libcblas=3.9.0=8_openblas
  - libcxx=11.1.0=h168391b_0
  - libgfortran=5.0.0.dev0=11_0_1_hf114ba7_22
  - libgfortran5=11.0.1.dev0=hf114ba7_22
  - liblapack=3.9.0=8_openblas
  - libopenblas=0.3.12=openmp_h2ecc587_1
  - llvm-openmp=11.1.0=hf3c4609_1
  - markupsafe=1.1.1=py39h46acfd9_3
  - ncurses=6.2=h9aa5885_4
  - networkx=2.5.1=pyhd8ed1ab_0
  - numpy=1.20.2=py39h1f3b974_0
  - openssl=1.1.1k=h27ca646_0
  - pandas=1.2.3=py39ha4bedbf_0
  - parso=0.8.2=pyhd8ed1ab_0
  - pexpect=4.8.0=pyh9f0ad1d_2
  - pickleshare=0.7.5=py_1003
  - pip=21.0.1=pyhd8ed1ab_0
  - plotly=4.14.3=pyh44b312d_0
  - prompt-toolkit=3.0.18=pyha770c72_0
  - ptyprocess=0.7.0=pyhd3deb0d_0
  - pygments=2.8.1=pyhd8ed1ab_0
  - python=3.9.2=hcbd9b3a_0_cpython
  - python-dateutil=2.8.1=py_0
  - python_abi=3.9=1_cp39
  - pytz=2021.1=pyhd8ed1ab_0
  - pyyaml=5.4.1=py39h46acfd9_0
  - readline=8.1=hfbdcbf2_0
  - setuptools=49.6.0=py39h2804cbe_3
  - six=1.15.0=pyh9f0ad1d_0
  - sqlite=3.35.4=hc49ca36_0
  - tk=8.6.10=hf7e6567_1
  - traitlets=5.0.5=py_0
  - tzdata=2021a=he74cb21_0
  - wcwidth=0.2.5=pyh9f0ad1d_2
  - werkzeug=1.0.1=pyh9f0ad1d_0
  - wheel=0.36.2=pyhd3deb0d_0
  - xz=5.2.5=h642e427_1
  - yaml=0.2.5=h642e427_0
  - zlib=1.2.11=h31e879b_1009
  - pip:
    - appdirs==1.4.4
    - attrs==20.3.0
    - black==20.8b1
    - colorama==0.4.4
    - commonmark==0.9.1
    - flake8==3.9.0
    - iniconfig==1.1.1
    - ipython-genutils==0.2.0
    - isort==5.8.0
    - mccabe==0.6.1
    - mypy-extensions==0.4.3
    - packaging==20.9
    - pathspec==0.8.1
    - pluggy==0.13.1
    - py==1.10.0
    - pycodestyle==2.7.0
    - pyflakes==2.3.1
    - pyparsing==2.4.7
    - pytest==6.2.3
    - retrying==1.3.3
    - rich==10.1.0
    - scholar-network==0.1.8
    - selenium==3.141.0
    - toml==0.10.2
    - typed-ast==1.4.2
    - typing-extensions==3.7.4.3
    - urllib3==1.26.4
prefix: /Users/nick/miniforge3/envs/cop-webapp
